@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

* {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  display: flex;
  flex-direction: column;
 
}

.hero-text {
  background-color: #1f2937;
  padding: 20px 180px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.navbar ul {
  display: flex;
  gap: 12px;
  list-style: none;
}

.navbar a,
.secundary-text{
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 110px 0;
}

.info {
  max-width: 400px;
}

.main-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.secundary-text {
  margin-bottom: 8px;
}

.content button {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 10px;
  padding: 8px 36px;
  font-weight: 900;
}

.image img {
  width: 500px;
  height: 210px;
}


.random-info h2{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 40px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    margin-bottom: 80px;
}

.card{
    max-width: 150px;
}

.card-image{
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
    margin-bottom: 10px;
}

.quote{
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 300px;
}

.quote-text{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    text-align: justify;
    
}

.quote-sign{
    font-size: 28px;
    margin-left: auto;
    font-weight: 400;

}

.sign-up{
    background-color: #3882f6;
    margin: 90px 190px;
    border-radius: 8px;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.action-text{
    font-size: 22px;
    font-weight: 700;
}

.action-subtext{
    font-weight: 200;
}

.sign-button{
    background-color: #3882f6;
    border: 1px solid #f9faf8;
    color: #f9faf8;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}

.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 200;
    color: #e5e7eb;
    padding: 40px 0;
}
